<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404</title>
	<style>
		body{
                    background-color: #ccc;
                    text-transform: uppercase;
                    font-size: 30px;
                    text-align: center;
                    margin: 0 auto;
		}
		a{
                    margin-top: 150px;
		}
	</style>
</head>
<body>
	<div class="error">404 error</div>
	<div>указанная страница не найдена</div>
	<a href="main">На главную</a>
</body>
</html>